.message-page {
    max-width: 830px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 90vh;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 0.25rem;
}

.message-header {
    height: 60px;
    padding: 5px;
    border-bottom: 1px solid black;
}

.message-log {
    flex-grow: 1;
    overflow-y: scroll;
    max-height: 100%;
    border-bottom: 1px solid black;
}

.message-log::-webkit-scrollbar {
    width: 0.5rem;
}
  
.message-log::-webkit-scrollbar-track {
background: white;
}

.message-log::-webkit-scrollbar-thumb {
background: gray;
border-radius: 25px;
}

.send-message {
    margin: 5px;
    width: 99% !important;
}
