.message-page {
    max-width: 720px;
    margin: 0 auto;
    background-color: aquamarine;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.message-header {
    height: 60px;
    background-color: azure;
}

.message-log {
    flex-grow: 1;
    overflow-y: scroll;
    max-height: 100%;
}

.send-message button {
    font-size: larger;
}