.register {
    display: flex;
    justify-content: center;
    align-content: center;
}

.register-title {
    font-size: 40px;
    color: #fa9200 ;
}

.register-subtitle {
    font-size: 25px;
    color: #007706 ;
}

.register fieldset {
    background-color: white;
    width: 368px;
    padding: 0;
    border-radius: 5px;
    border: 1.5px solid rgb(199, 199, 199);

}

.register form header, .register form main {
    margin: 20px 30px 0 30px;
}

.register form header {
    margin-top: 30px;
}

.register form label {
    line-height: 25px;
    padding-bottom: 6px;
    font-size: 17px;
    float: left;
    font-weight: bold;
}

.register form fieldset header *{
    text-align: center;
}

#register-form {
    margin-top: 70px;
}

#register-form fieldset, #register-form  {
    width: 500px;
}

#register-form input {
    margin-bottom: 20px;
    width: 250px;
}

.wrapper-register input {
    margin-left: 20px;
}

.wrapper-register label {
    margin-top: 5px;
    width: 120px;
}