.chat-bubble {
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 350px;
    overflow-y: auto;
    width: fit-content;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.recieve {
    background-color: lightgray;
    color: black;
}

.self {
    background-color: #007bff;
    color: white;
    align-self: end;
    margin-left: auto;
}


.chat-bubble p {
    vertical-align: text-top;
    padding: 5px 15px;
    margin: 0px;
}