
//override theme

/*$primary: red;
$secondary: green;
$dark: #300;
$light: #fdd;
$success: #0fa;
$info: #555;
$warning: yellow;
$danger: red;*/

$carousel-control-color: black;
@import '~react-pro-sidebar/dist/scss/styles.scss';
@import "~bootstrap/scss/bootstrap.scss";
